<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
{% include header.html %}
{% seo %}
<body class="loading layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %} {% if page.entries_layout == 'grid' %}page--wide{% endif %} {{ page.title | slugify }}">
{% include navbar.html %}
    {{ content }}
{% include footer.html %}
{% include scripts.html %}
<a href="#" class="back-to-top"><span class="icon-arrow-up"></span></a>
</body>
</html>
